/* kvの設定 */
.kv_back {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    z-index: -1;
}

.kv_back--main {
    position: absolute;
    width: 71.1vw;
    height: 71.1vw;
    right: -17.6vw;
    top: -9.9vw;
}

.back_deco--01 {
    position: absolute;
    width: 23.5vw;
    left: -11.3vw;
    top: 105px;
}

.back_deco--02 {
    position: absolute;
    background-color: #D9ECDF;
    border-radius: 9999px;
    width: 41.7vw;
    height: 41.7vw;
    top: 510px;
    left: -21vw;
}

.back_deco--03 {
    position: absolute;
    background-color: #D9ECDF;
    border-radius: 9999px;
    width: 42.6vw;
    height: 42.6vw;
    top: 73vw;
    right: -16vw;
    z-index: -10;
}

.kv_wrapper {
    margin: 71px  15vw;
    /* margin: 71px  min(16.3vw, 240px); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kv_upper {
    display: flex;
    flex-direction: row;
    /* gap: min(3vw, 74px); */
    width: 100%;
}

.kv_upper_left {
    margin-left: min(1.46vw, 20px);
}

.kv_upper_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: -58px;
    margin-left: 6.9vw;
}

.kv_application {
    position: relative;
    /* background: linear-gradient(135deg,#ff7c4d 0%, #ffb094 36.95%, #ffa382 46.8%, #ff7e4f 60.59%, #ff7c4d 100%); */
    background: var(--orange);
    border-radius: 9999px;
    width: 218px;
    height: 218px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kv_application_anime {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    overflow: hidden;
}

.kv_application_anime::before {
    content: '';
    position: absolute;
    top: 0%;
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 60%, rgba(255,255,255,.1) 100%);
    transform: skewX(-45deg);
    animation: shine02 2.8s infinite ease-in-out;
}

@keyframes shine02 {
    0% {
        left: -60%;
    }

    80% {
        left: -60%;
    }

    100% {
        left: 100%;
    }
}

.kv_application::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 300px;
    border: 2px solid var(--white);
}

/* .kv_application::after {
    position: absolute;
    content: "";
    width: 116px;
    height: 83px;
    background: url(../images/kv_product.png) no-repeat;
    background-size: contain;
    top: -20px;
    visibility: visible;
} */

.kv_application p {
    color: var(--white);
    font-size: 28px;
    font-weight: bold;
    margin-top: 8px;
}

.kv_application--desc {
    position: relative;
    background-color: var(--green);
    border-radius: 10px;
    padding: 14px;
    color: var(--white);
    margin-top: -12px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.kv_application--desc::before {
    position: absolute;
    content: "";
    background-color: var(--green);
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    width: 40px;
    height: 32px;
    top: -28px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.kv_text01 {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.kv_text01::after, .kv_text01::before {
    content: '';
    position: absolute;
    top: 80%;
    display: inline-block;
    width: 30px;
    height: 4px;
    background-color: var(--orange);
    border-radius: 4px;
}

.kv_text01::after {
    left: 60px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.kv_text01::before {
    right: 60px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.kv_text02 {
    position: relative;
    width: fit-content;
    color: var(--orange);
    font-size: 30px;
    font-weight: 600;
    margin-top: 14px;
    font-feature-settings: "palt";
}

.kv_text02::after {
    content: url(../images/glass.svg);
    position: absolute;
    width: 26.6px;
    top: -21px;
    right: -4px;
}

.kv_text02 svg{
	width:127px;
	height:22px;
}

.kv_text02 svg line{
	fill: none;
	stroke: var(--orange);
	stroke-width: 11;
	stroke-linecap: round;
	stroke-dasharray: 0.5, 22;
}

.kv_text03 {
    font-size: 54px;
    margin-top: 26px;
    font-feature-settings: "palt"
}

.kv_text03 p {
    font-weight: 500;
    position: relative;
    width: fit-content;
}

.kv_text03 p::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background: var(--green);
}

.kv_text03 .small_text {
    font-size: 30px;
}

.kv_text03 p .annotation {
    position: relative;
}

.kv_text03 p .annotation::before {
    position: absolute;
    content: "※1";
    font-size: 12px;
    top: -12px;
}

.kv_logo {
    width: 360px;
    margin-top: 28px;
    margin-left: 20px;
}

.kv_middle {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: min(2vw, 30px);
}

.kv_middle_item {
    position: relative;
    background-color: var(--orange);
    padding: 0 28px 0 28px;
    height: 99px;
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kv_middle_item .small_text {
    font-size: 16px;
}

.kv_middle_item::before {
    position: absolute;
    content: '';
    display: block;
    background-color: var(--green);
    border-radius: 9999px;
    width: 30px;
    height: 30px;
    top: -18px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.kv_middle_item::after {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 14px;
    border-left: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
    top: -12px;
    left: 51%;
    transform:translate(-50%, 0%) rotate(-45deg);
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
    -ms-transform: translate(-50%, 0%) rotate(-45deg);
}

.smartphone_img {
    position: absolute;
    width: 101px;
    top: -80px;
    right: -30px;
}

.kv_bottom {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kv_overview {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.04rem;
    line-height: 56px;
}

.kv_overview .underline {
    position: relative;
}

.kv_overview .underline::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--green);
}

.kv_point {
    /* margin-top: 55px; */
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.kv_point p {
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}

.kv_point p .green {
    color: var(--green);
    font-size: 88px;
}

.kv_bottom_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: min(2.4vw, 54px);
    margin-top: 10px;
}

.kv_bottom_item {
    position: relative;
    color: var(--white);
    border-radius: 9999px;
    width: 270px;
    min-width: 270px;
    height: 270px;
    min-height: 270px;
    vertical-align: middle;
}

.kv_bottom_item.green {
    background-color: var(--green);
}

.kv_bottom_item.yallow {
    background-color: var(--yallow);
}

.kv_bottom_item.orange {
    background-color: var(--orange);
}

.kv_bottom_item p {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width :270px;
    text-align:center;
    font-size: 34px;
    line-height: 46px;
    font-weight: bold;
}

.kv_bottom_item .sankaku {
    position: absolute;
    width: 31px;
    bottom: 28px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}


.kv_bottom_item p .small_text {
    font-size: 24px;

}

@media (max-width: 1310px) {
    .kv_wrapper {
        margin: 71px 6vw 50px 6vw;
    }
    
    .kv_upper {
        justify-content: space-between;
        width: min(70vw, 960px);
    }

    .kv_upper_right {
        margin-left: 0;
    }
}

@media (max-width: 1024px) {
    .kv_upper_left {
        margin-left: 0;
    }

    .kv_text01 {
        font-size: 21px;
    }

    .kv_text02 {
        font-size: 26px;
    }

    .kv_text02::after {
        right: -12px;
    }

    .kv_text02 .dotted {
        width: 326px;
    }

    .kv_text03 {
        font-size: 48px;
    }

    .kv_text03 .small_text {
        font-size: 26px;
    }

    .kv_upper_right {
        margin-left: 2.8vw;
    }

    .kv_application {
        width: 180px;
        height: 180px;
    }

    .kv_application::before {
        width: 166px;
        height: 166px;
    }

    .kv_application::after {
        width: 100px;
    }

    .kv_application p {
        font-size: 24px;
        margin-top: 10px;
    }

    .kv_application--desc {
        font-size: 14px;
        line-height: 22px
    }

    .kv_middle_item {
        font-size: 1.7vw;
    }

    .kv_middle_item .small_text {
        font-size: 1.3vw;
    }

    .kv_overview {
        font-size: 3vw;
    }

    .kv_point p {
        font-size: 5vw;
    }

    .kv_bottom_item {
        width: 220px;
        height: 220px;
        min-width: 220px;
        min-height: 220px;
    }

    .kv_bottom_item p {
        font-size: 2.5vw;
        width: 220px;
        line-height: 3.3vw;
    }
}

@media (max-width: 767px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .kv_back {
        overflow-x: hidden;
        height: 190vh;
    }

    .kv_back--main {
        width: 85vw;
        height: 85vw;
        right: -26.5vw;
        top: -5.3vw;
    }

    .back_deco--02 {
        width: 620px;
        height: 620px;
        top: 497px;
        left: -91vw;
    }

    .kv_wrapper {
        margin: 78px 5.6vw;
    }

    .kv_upper {
        flex-direction: column;
        width: 100%;
    }

    .kv_upper_left {
        width: fit-content;
    }

    .kv_text01 {
        font-size: 15px;
        display: inline-flex;
        margin-left: 17px;
    }

    .kv_text01::after, .kv_text01::before {
        width: 20px;
        height: 2px;
        border-radius: 2px;
    }

    .kv_text01::after {
        left: -17px;
    }

    .kv_text01::before {
        right: -17px;
    }

    .kv_text02 {
        font-size: 17px;
        letter-spacing: 0.03rem;
        margin-top: 8px;
    }

    .kv_text02::after {
        content: "";
        background-image: url(../images/glass.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 24px;
        top: 8px;
        right: 18px;
    }

    .sp_line01, .sp_line02 {
        position: relative;
    }

    .sp_line02 {
        margin-top: 4px;
    }

    .sp_line01::after {
        position: absolute;
        background: radial-gradient(circle farthest-side, var(--orange), var(--orange) 40%, transparent 56%, transparent);
        background-size: 8px;
        left: 0;
        bottom: -6px;
        content: '';
        display: inline-block;
        height: 8px;
        width: 67%;
    }

    .sp_line02::after {
        position: absolute;
        background: radial-gradient(circle farthest-side, var(--orange), var(--orange) 40%, transparent 56%, transparent);
        background-size: 8px;
        left: 0;
        bottom: -6px;
        content: '';
        display: inline-block;
        height: 8px;
        width: 104%;
    }
    
    .kv_text03 {
        font-size: 28px;
        margin-top: 16px;
        font-feature-settings: normal;
    }

    .kv_text03 p::before {
        height: 5px;
    }

    .kv_text03 .small_text {
        font-size: 20px;
    }

    .kv_text03 p {
        margin-top: 10px;
        font-weight: 500;
    }

    .kv_text03 p .annotation::before {
        font-size: 5px;
        top: -1px;
    }

    .kv_logo {
        margin-left: 0;
        width: 194px;
    }

    .kv_upper_right {
        position: relative;
        margin-left: 0;
    }

    .kv_application {
        position: absolute;
        top: -96px;
        right: -10px;
        width: 139px;
        height: 139px;
        background-size: contain;
        z-index: 10;
    }

    .kv_application p {
        margin-top: 2px;
        font-weight: bold;
    }

    .kv_application::before {
        width: 126px;
        height: 126px;
    }

    .kv_application::after {
        width: 74px;
        height: 53px;
    }

    .kv_application p {
        font-size: 17px;
    }

    .kv_application--desc {
        margin-top: 62px;
        font-size: 14px;
        width: 100%;
    }

    .kv_middle {
        flex-direction: column;
        width: 100%;
        gap: 23px;
        margin-top: 118px;
    }

    .kv_middle_item {
        width: 100%;
        font-size: min(5.12vw, 20px);
        padding: 23px 0 22px 0;
        height: 65px;
    }

    .kv_middle_item:last-child {
        padding: 23px 0 22px 0;
    }

    .kv_middle_item .small_text {
        font-size: min(3.59vw, 14px);
    }

    .kv_middle_item .only_sp_item {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
    }

    .kv_middle_item .newline {
        line-height: 18px;
        text-align: left;
    }

    .smartphone_img {
        top: -36px;
        right: -26px;
    }

    .smartphone_img img{
        width: 48px;
    }

    .kv_overview {
        font-size: 20px;
        line-height: 42px;
        letter-spacing: 0.04rem;
        font-weight: bold;
        margin-bottom: 42px;
    }

    .kv_point {
        margin-top: 42px;
    }

    .kv_point p {
        font-size: 27px;
        font-weight: bold;
    }

    .kv_point p .green {
        font-size: 29px;
    }

    .kv_point img {
        width: 44px;
    }

    .kv_bottom {
        margin-top: 40px;
    }

    .kv_bottom_content {
        width: 100%;
        justify-content: space-between;
    }

    .kv_bottom_item {
        width: 103px;
        height: 103px;
        min-width: 103px;
        min-height: 103px;
    }

    .kv_bottom_item p {
        width: 103px;
        font-size: 12px;
        line-height: 17px;
    }

    .kv_bottom_item p .small_text {
        font-size: 10px;
    }

    .kv_bottom_item .sankaku {
        width: 12px;
        bottom: 14px;
    }
}

@media (min-width: 1500px) {
    .kv_upper {
        /* width: 960px; */
        width: 100%;
        justify-content: space-between;
    }
    
    .kv_upper_right {
        margin-right: 160px;
        /* margin-left: 160px; */
    }

    .kv_middle {
        justify-content: space-between;
        gap: unset;
        /* width: 960px; */
        width: 100%;
    }

    .kv_middle_item {
        width: 22vw;
    }


    .kv_bottom {
        /* width: 960px; */
        width: 100%;
    }

    .kv_bottom_content {
        justify-content: space-between;
    }

    .kv_bottom_item {
        width: min(340px, 20.49vw);
        height: min(340px, 20.49vw);
    }

    .kv_bottom_item p {
        width: min(340px, 20.49vw);
    }
}

@media (max-width: 380px) {
    .kv_point p {
        font-size: 26px;
    }
}
