:root {
    --black: #333333;
    --white: #FFFFFF;
    --red: #E61400;
    --orange: #FF8E66;
    --light-orange: #FFDDD1;
    --green: #82C195;
    --light-green: #D9ECDF;
    --yallow: #FBCD00;
    --light-yallow: #FFF766;
}

html {
    font-family: "Noto Sans JP", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
    margin: auto;
}

main {
    display: block;
    width: 100%;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

/* headerの設定 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.header_logo {
    width: 120px;
}

.header_btn {
    background-color: var(--orange);
    padding: 10px 11px;
    border-radius: 10px;
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

/*ctaの設定*/
.cta_warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta_text {
    font-size: 30px;
    line-height: 63px;
    letter-spacing: 0.02rem;
    color: var(--orange);
    font-weight: bold;
}

.btn,
a.btn,
button.btn {
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
}

a.cta_btn {
    position: relative;
    font-size: 45px;
    display: block;
    padding: 24px 0 24px 0;
    width: 570px;

    color: #fff;
    border-radius: 100vh;
    background: linear-gradient(135deg, #FF7C4D 0%, #FFB094 34%, #FFA382 40%, #FF936B 58%, #FF8559 70%, #FF7E4F 84%, #FF7C4D 100%);
    -webkit-box-shadow: 4px 8px 0 #D67756;
    box-shadow: 4px 8px 0 #D67756;
    background-position: 100% 50%;
    background-size: 200% auto;
    transition: background-position 0.3s ease-in-out, box-shadow 0.4s ease, margin 0.4s ease;
    /* animation: ctaBtnAnime 4s ease 2s infinite normal; */
}

a.cta_btn:hover {
    margin-top: 6px;
    margin-bottom: -6px;
    -webkit-box-shadow: 1px 2px 0 #D67756;
    box-shadow: 1px 2px 0 #D67756;
    text-decoration: none;
    background-position: -100% -50%;
}

.cta_btn img {
    position: absolute;
    margin-bottom: -3px;
    margin-left: 30px;
    width: 26px;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

@keyframes ctaBtnAnime {
    0% {
        background-position: 100%, 50%;
    }

    80% {
        background-position: 100%, 50%;
    }

    100% {
        background-position: -100%, -50%;
    }
}

/*見出しの設定*/
.headline {
    position: relative;
    color: var(--white);
    text-align: center;
    width: 100%;
    padding: 18px 0 38px 0;
    font-weight: bold;
}

.headline h2 {
    position: relative;
}

.headline p {
    font-size: 30px;
    line-height: 71px;
    letter-spacing: 0.04rem;
}

.headline h2 {
    display: inline;
    font-size: 50px;
    line-height: 71px;
    letter-spacing: 0.04rem;
}

.headline h2::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 6px;
    border-radius: 8px;
    background: var(--white);
}

.headline::before {
    position: absolute;
    content: "";
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 40px;
    height: 32px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.head_underline {
    width: 330px;
    margin: auto;
    height: 8px;
    margin-top: 12px;
}

.head_underline .line {
    display: inline-block;
    height: 8px;
    width: 92%;
    background-color: var(--white);
    border-radius: 8px;
}

.head_underline .dot {
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: var(--white);
    border-radius: 8px;
}


/* footerの設定 */
footer {
    background-color: #FFFDD1;
    color: var(--white);
    font-weight: bold;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr min(70vw, 960px) 1fr;
    background-color: var(--black);
    border-radius: 80px 80px 0 0;
}

.footer_content { 
    grid-column: 2 / 3;
    padding-top: 66px;
    padding-bottom: 28px;
}

.footer_upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_content_right {
    margin-top: 40px;
}

.footer_item {
    margin-bottom: 50px;
}

.footer_item p {
    font-size: 20px;
    letter-spacing: 0.06rem;
}

.footer_item p.underline {
    display: inline;
    border-bottom: 1px solid var(--white);
}

.footer_copy {
    text-align: center;
}

@media (max-width: 1024px) {
    .headline p {
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 0.02rem;
    }

    .headline h2 {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.02rem;
    }

    .footer_item p {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .cta_text {
        font-size: 18px;
        letter-spacing: 0.06rem;
        line-height: 38px;
    }

    a.cta_btn {
        font-size: 27px;
        padding: 16px 0 17px 0;
        width: 347px;
        -webkit-box-shadow: 0 5px 0 #D67756;
        box-shadow: 0 5px 0 #D67756;
    }
    
    .cta_btn img {
        margin-bottom: -3px;
        margin-left: 30px;
        width: 16px;
    }

    a.cta_btn:hover {
        margin-top: 3px;
        -webkit-box-shadow: 0 2px 0 #D67756;
        box-shadow: 0 2px 0 #D67756;
    }

    .headline  {
        padding: 10px 0 14px 0;
    }

    .headline::before {
        width: 16px;
        height: 13px;
        bottom: -13px;
    }

    .headline p {
        font-size: 12px;
        line-height: 28px;
    }

    .headline h2 {
        font-size: 18px;
        line-height: 28px;
    }

    .headline h2::before {
        bottom: -4px;
        width: 100%;
        height: 2px;
        border-radius: 2px;
    }

    .head_underline {
        width: 157px;
        margin: auto;
        height: 3.5px;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
    
    .head_underline .line {
        display: inline-block;
        height: 3.5px;
        width: 90%;
        background-color: var(--white);
        border-radius: 3.5px;
    }
    
    .head_underline .dot {
        display: inline-block;
        height: 3.5px;
        width: 3.5px;
        background-color: var(--white);
        border-radius: 3.5px;
    }

    footer {
        background-color: #FFFDD1;
        color: var(--white);
        font-weight: bold;
    }
    
    .footer_grid {
        grid-template-columns: 1fr min(90vw, 350px) 1fr;
        border-radius: 60px 60px 0 0;
    }

    .footer_upper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer_content_left {
        margin-top: 0;
    }

    .footer_content_left img {
        width: 160px;
    }
    
    .footer_content_right {
        margin-top: 43px;
    }
    
    .footer_item {
        margin-bottom: 40px;
    }

    .footer_item:nth-child(1) {
        margin-bottom: 20px;
    }
    
    .footer_item p {
        font-size: 14px;
        letter-spacing: 0.06rem;
    }

    .footer_item:nth-child(3) p {
        font-size: 16px;
    }
    
    .footer_item p.underline {
        display: inline;
        border-bottom: 1px solid var(--white);
    }
    
    .footer_copy {
        text-align: center;
    }
}

/*レイアウトの設定*/
.content_grid {
    display: grid;
    grid-template-columns: 1fr min(70vw, 960px) 1fr;
}

@media (max-width: 1024px) {
    .content_grid {
        grid-template-columns: 1fr 78vw 1fr;
    }
}

@media (max-width: 767px) {
    .content_grid {
        grid-template-columns: 1fr 90vw 1fr;
    }
}