:root {
    --black: #333333;
    --white: #FFFFFF;
    --orange: #FF8E66;
    --green: #82C195;
    --yallow: #FBCD00;
}

html {
    font-family: "Noto Sans JP", sans-serif;
    color: var(--black);
}

html,body {
    overflow-x: hidden;
}

main {
    display: block;
    overflow-x: hidden;
    width: 100%;
}

/* headerの設定 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.header_logo {
    width: 120px;
}

.header_btn {
    background-color: var(--orange);
    padding: 10px 11px;
    border-radius: 10px;
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
}